@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container" style="padding:0px 10px; margin-bottom:10px">
    <h3 style="margin-top:10px;">@ViewBag.Title</h3>
    <p style="font-weight:bold; font-size:larger; color:green">
        Please check your email to reset your password.
    </p>
</div>
